{% extends 'base/index.html'%}
{%block content%}


    <table border="2" style="text-align: center;">
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>prenom</th>
            <th>fonction</th>
        </tr>
        {%for personnel in listePersonnels%}
             <tr>
                <th>{{personnel.id}}</th>
                 <th>{{personnel.nom}}</th>
                <th>{{personnel.prenom}}</th>
                <th>{{personnel.fonction}}</th>
             </tr>
        {%endfor%}
    </table>
    


{%endblock%}